<h1>Is the L working?</h1>
<p id="notice"><%= notice %></p>
<p> <%= @train_status.message %>
</p>
<h3>Send status in an SMS!</h3>
<%= form_with(model: TextMessage.new, local: true) do |form| %>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_field :to %>
  </div>

  <div class="actions">
    <%= form.hidden_field :body, value:@train_status.message %>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', train_statuses_path %>
