<h2>Is the L working?</h2>
<p id="notice"><%= notice %></p>
<h1> <%= @train_status.message %>
</h1>
<h3>You can get the L status at any time by texting 706.701.2709!</h3>
<br>
<h4>Send status in an SMS!</h4>
<%= form_with(model: TextMessage.new, local: true) do |form| %>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_field :to %>
  </div>

  <div class="actions">
    <%= form.hidden_field :body, value:@train_status.message %>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to "Refresh L train status!", action: 'create'%>
<br>
<br>
<%= link_to 'See L-train status history', train_statuses_path %>
